.header {
  background-color: $main-color;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: $header-height;
  transition: height 0.3s ease;

  .container {
    height: 100%;
  }

  &.shrink {
    height: $header-shrink-height;
    box-shadow: $box-shadow;
    z-index: 100;
  }

  .active {
    font-weight: 600;
    color: #d9d9d9;
  }

  &__logo {
    @include flex(center, center);
    position: absolute;
    inset: 0;
    height: 100%;
    pointer-events: none;

    img {
      height: 3rem;
    }
  }

  &__menu {
    @include flex(center, space-between);
    height: 100%;
    font-size: 1.3rem;
    color: $txt-white;

    &__item ~ &__item {
      margin-left: 2.8rem;
      @include tablet {
        margin-left: 20px;
      }
      @include mobile {
        margin-left: 10px;
      }
    }

    &__left,
    &__right {
      @include flex(center, center);
      height: $header-height;
    }

    &__left {
      &__close {
        display: none;
        cursor: pointer;
      }

      @include tablet {
        flex-direction: column;
        background-color: $main-color;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        justify-content: flex-start;
        padding-top: 3rem;
        transform: translateX(-100%);

        &.active {
          transform: translateX(0);
        }

        &__item ~ &__item {
          margin-left: unset;
          margin-top: 2rem;
        }

        &__close {
          display: block;
          position: absolute;
          left: 2rem;
          font-size: 2rem;
        }
      }
    }
    &__right {
      font-size: 2.25rem;

      &__item {
        @include flex(center, center);
        @include tablet {
          margin-left: 10px;
        }
      }

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &__item:hover {
      color: $txt-second-color;
    }

    &__mobile-toggle {
      display: none;
      cursor: pointer;
      @include tablet {
        font-size: 3.6rem;
        display: block;
      }
      @include tablet {
        font-size: 2.5rem;
        display: block;
      }
    }
  }
}
