.hero-slider {
  height: 100vh;
  max-height: 1080px;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
  margin-top: calc(#{$header-height} * -1);

  @include tablet {
    margin-top: calc(#{$header-tablet-height} * -1);
  }
  @include mobile {
    margin-top: calc(#{$header-mobile-height} * -1);
  }
  &__control {
    @include flex(center, center);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    &__item ~ &__item {
      margin-left: 10px;
    }
    &__item {
      @include flex(center, center);
      font-size: 2rem;
      cursor: pointer;
      &:hover {
        color: $main-color;
      }
      .index {
        font-size: 1.5rem;
      }
    }
  }
  &__item {
    @include flex(center, space-between);

    @include tablet {
      flex-direction: column-reverse;
      padding-top: $header-tablet-height;
    }

    @include mobile {
      padding-top: 12rem;
      padding-bottom: 40px;
    }

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    inset: 0;
    position: absolute;
    &.active {
      visibility: visible;
      opacity: 1;
      pointer-events: visible;
    }
    &__info {
      width: 58.33%;

      @include tablet {
        width: 100%;
        flex-grow: 1;
      }

      &__title,
      &__desc {
        margin-bottom: 40px;
        @include tablet {
          margin-bottom: 15px;
        }
      }
      &__title {
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: 600;
        font-size: 3.5rem;
        line-height: 6.75rem;
        overflow: hidden;
        @include tablet {
          font-size: 3rem;
        }
        @include mobile {
          font-size: 1.5rem;
        }
      }
      &__desc {
        overflow: hidden;
        color: $txt-second-color;
        font-size: 1.5rem;
        line-height: 2.25rem;
        @include tablet {
          font-size: 1.2rem;
          line-height: 1.8rem;
        }

        @include mobile {
          font-size: 1rem;
          line-height: 1.2rem;
        }
      }
      &__btn {
        overflow: hidden;
        button {
          background-color: $main-color;
          padding: 1.2rem 1.5rem;
          border-radius: 2rem;
          outline: none;
          border: none;
          cursor: pointer;
          font-size: 1.2rem;
          background-color: $main-color;
          color: #fff;
        }
      }
      &__title > span,
      &__desc > span,
      &__btn button {
        display: block;
        transform: translateY(-100%);
        transition: transform 0.5s ease;
      }
    }
    &.active &__info {
      &__title > span,
      &__desc > span,
      &__btn button {
        transform: translateY(0);
      }
    }
    &__image {
      height: 100%;
      position: relative;
      z-index: 99;
      pointer-events: none;

      @include tablet {
        width: 100%;
        height: 60%;
        @include flex(center, center);
        flex-grow: unset;
        z-index: 98;
        margin-top: 4rem;
      }

      @include mobile {
        margin-top: 4rem;
      }

      img {
        height: 100vh;
        position: relative;
        right: 0;
        bottom: 0;
        @include tablet {
          height: 100%;
          position: relative;
        }
      }
      .shape {
        $size: 472px;
        height: $size;
        width: $size;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        transition: border-radius 13s ease;
        animation: border 10s infinite;
        @include tablet {
          $size: 250px;
          height: $size;
          width: $size;
          right: 50%;
          transform: translate(50%, -50%);
        }
      }
    }
  }
}

@keyframes border {
  0% {
    border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
  }
  50% {
    border-radius: 31% 69% 59% 41% / 28% 24% 76% 72%;
  }
  100% {
    border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
  }
}
