.product-card {
  text-align: center;
  margin-bottom: 3rem;
  &__image {
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      &:nth-child(1) {
        transform: translateX(-50%) scale(1);
        transition: transform 0.5s ease;
      }
      &:nth-child(2) {
        transform: translateX(-50%) scale(0);
      }
    }
    &:hover img {
      &:nth-child(1) {
        transform: translateX(-50%) scale(0);
      }
      &:nth-child(2) {
        transform: translateX(-50%) scale(1);
        transition: transform 0.5s ease;
      }
    }
  }
  &__name {
    font-size: 1.2rem;
    color: $txt-second-color;
    font-weight: normal;
    margin-bottom: 10px;
  }

  &__price {
    font-size: 1.2rem;
    color: $txt-main-color;
    font-weight: 600;
    margin-bottom: 10px;
    &__old {
      font-size: 1.2rem;
      color: $txt-second-color;
      font-weight: 200;
      margin-left: 20px;
    }
  }

  &__btn {
    @include tablet {
      display: none;
    }
  }
}
